.wrapper {
	padding: 2.86rem 5.62vw;
	max-width: 1400px;
	margin: 0 auto;
}

#masthead {
	background-color: $citadel_blue;

	.wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 1.43rem 5.62vw;
	}

	.site-title {
		margin: 0;
		line-height: 1;
		font-family: $font__headings;

		a {
			font-size: 1.5rem;
			font-weight: 500;
			color: #ffffff;
			text-decoration: none;
			display: block;
		}
	}
}

#search {
	background-color: $citadel_blue;

	.wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 5.62rem 5.62vw;
	}
	

	&.collapsed {
		background-color: $pt_barracks_20;

		.wrapper {
			justify-content: space-between;
			padding: 1.43rem 5.62vw;	
		}

		.main-search {

			form {
				width: 100%;
				text-align: right;
			}

			label {

				&::before {
					font-size: .8rem;
					padding: 0 .5rem;
				}
			}

			input[type="search"] {
				width: 250px;
				max-width: 100%;
				border-radius: 50px;
				font-size: 1rem;
				padding: .355rem 1.75rem;
			}
		}
	}

	h2 {
		margin: 0 0 1.42rem;
		text-align: center;
		color: #ffffff;
		font-weight: 500;
	}

	.main-search {
		width: 100%;

		

		form {
			text-align: center;
		}

		label {
			position: relative;

			&::before {
				display: inline-block;
				position: absolute;
				font-size: 1.25rem;
				padding: 0 .71rem;
				color: $citadel_navy;
				left: 0;
				top: 50%;
				font-style: normal;
				font-variant: normal;
				text-rendering: auto;
				-webkit-font-smoothing: antialiased;
				font-family: "Font Awesome 5 Free";
				font-weight: 900;
				content: "\f002";
				transform: translate(0, -50%);
			}
		}

		input[type="search"] {
			width: 100%;
			max-width: 600px;
			border-radius: 50px;
			font-size: 1.25rem;
			padding: .71rem 2.84rem;


		}

		input[type="submit"] {
			position: absolute;
			left: -9999999px;
		}
	}
}

#crumbs {
	min-width: 50%;
	font-size: .8rem;
}