// Base Colors
$citadel_navy: #1F3A60;
$citadel_blue: #3975B7;
$pt_barracks: #CEC7BF;
$shako: #282E36;
$band_gold: #CDA31F;
$officer_sash: #7D2935;
$citadel_dark_navy: #1A3152;

// Color Opacities
$citadel_navy_80: rgba(31, 58, 96, 0.8);
$citadel_navy_60: rgba(31, 58, 96, 0.6);
$citadel_navy_40: rgba(31, 58, 96, 0.4);
$citadel_navy_20: rgba(31, 58, 96, 0.2);

$citadel_blue_80: rgba(57, 117, 183, 0.8);
$citadel_blue_60: rgba(57, 117, 183, 0.6);
$citadel_blue_40: rgba(57, 117, 183, 0.4);
$citadel_blue_20: rgba(57, 117, 183, 0.2);

$pt_barracks_80: rgba(206, 199, 191, 0.8);
$pt_barracks_60: rgba(206, 199, 191, 0.6);
$pt_barracks_40: rgba(206, 199, 191, 0.4);
$pt_barracks_20: rgba(206, 199, 191, 0.2);

$shako_80: rgba(40, 46, 54, 0.8);
$shako_60: rgba(40, 46, 54, 0.6);
$shako_40: rgba(40, 46, 54, 0.4);
$shako_20: rgba(40, 46, 54, 0.2);

$band_gold_80: rgba(205, 163, 31, 0.8);
$band_gold_60: rgba(205, 163, 31, 0.6);
$band_gold_40: rgba(205, 163, 31, 0.4);
$band_gold_20: rgba(205, 163, 31, 0.2);

$officer_sash_80: rgba(125, 41, 53, 0.8);
$officer_sash_60: rgba(125, 41, 53, 0.6);
$officer_sash_40: rgba(125, 41, 53, 0.4);
$officer_sash_20: rgba(125, 41, 53, 0.2);

// Properties
$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: $shako;
$color__background-button: $citadel_blue;
$color__background-pre: $pt_barracks_20;
$color__background-ins: $pt_barracks_20;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__text-main: $shako;
$color__link: $color__text-main;
$color__link-visited: $color__text-main;
$color__link-hover: $citadel_blue;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
